name: CI

on: [push]

# env:
#  SKIP_DNS: true
#  SKIP_LDAP: true
#  SKIP_MAIL: true
#  SKIP_ORACLE: true
#  SKIP_COMMIT: true
jobs:
  test:
    #runs-on: ubuntu-22.04
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
        ports:
          - 2375:2375

    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Install dependencies
        run: |
          go mod tidy
          go mod vendor
      - name: Test
        env:
          # GitHub copies the files with api, not as clone, check fails
          # https://github.com/actions/checkout/issues/335
          SKIP_COMMIT: true
        run: go test -v ./...  -coverprofile=coverage.txt -covermode=atomic
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          args: --timeout=10m
          skip-cache: true